<div class="mb-auto d-flex flex-column mt-4 ml-3 mr-3">
   <h2 class="mb-3">Persons</h2>

   <div class="col pt-3 pb-3 ">
      <!--ACTIVE TAB NAME: {{ $ctrl.activeTab }}-->
      <!--<my-tabs on-tab-change="$ctrl.manualTabChange" tabs-id="Main page tabs" active-tab="$ctrl.activeTab">-->
         <!--<my-pane name="first" title="First tab">-->
            <!--<h4>First Tab</h4>-->
            <!--{{ $ctrl.hello }}-->
         <!--</my-pane>-->
         <!--<my-pane name="second" title="Second Tab">-->
            <!--<h4>Second Tab</h4>-->
            <!--<div ng-controller="mainCtrl as $ctrl">-->
               <!--{{ $ctrl.hello }}-->
            <!--</div>-->
         <!--</my-pane>-->
      <!--</my-tabs>-->
      <persons class="d-flex flex-column"/>
   </div>
</div>