<div class="mb-auto d-flex flex-column mt-4 ml-3 mr-3">
   <h2 class="mb-3">Persons</h2>

   <div class="col pt-3 pb-3 ">
      <!--<my-tabs>-->
         <!--<my-pane title="First tab">-->
            <!--<h4>First Tab</h4>-->
            <!--<p>Lorem ipsum dolor sit amet</p>-->
            <!--{{ $ctrl.hello }}-->
         <!--</my-pane>-->
         <!--<my-pane title="Second Tab">-->
            <!--<h4>Second Tab</h4>-->
            <!--<em>Mauris elementum elementum enim at suscipit.</em>-->
            <!--<p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>-->
            <!--<div ng-controller="mainCtrl as $ctrl">-->
               <!--{{ $ctrl.hello }}-->
            <!--</div>-->
         <!--</my-pane>-->
      <!--</my-tabs>-->
      <persons class="d-flex flex-column"/>
   </div>
</div>