<div class="overflow-x-auto row">
   <table class="table table-border table-perons border"
          ng-class="{ 'order-asc': vm.sortOrder === '-',  'order-desc': vm.sortOrder === '' }">
      <thead>
      <tr>
         <th class="table__header" ng-click="vm.sortPersons('firstName')" ng-class="{ 'active': vm.sortKey === 'firstName' }">First name
            <i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i></th>
         <th class="table__header" ng-click="vm.sortPersons('lastName')" ng-class="{ 'active': vm.sortKey === 'lastName' }">Last name
            <i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i></th>
         <th class="table__header" ng-click="vm.sortPersons('age')" ng-class="{ 'active': vm.sortKey === 'age' }">Age
            <i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i></th>
         <th class="table__header" ng-click="vm.sortPersons('gender')" ng-class="{ 'active': vm.sortKey === 'gender' }">Gender
            <i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i>
         </th>
         <th>Actions</th>
      </tr>
      </thead>
      <tbody ng-if="vm.persons.length" >
      <tr ng-repeat="person in vm.persons | orderBy:vm.sort">
         <td>{{ person.firstName | defaultVal }}</td>
         <td>{{ person.lastName | defaultVal }}</td>
         <td>{{ person.age | defaultVal }}</td>
         <td>{{ person.gender | defaultVal }}</td>
         <td class="table__actions">
            <div class="d-flex justify-content-end">
               <button class="btn align-self-end  mr-3 btn--small btn-success" ng-click="vm.editPerson(person)">
                  Edit
               </button>
               <button class="btn align-self-end  btn--small btn-danger" ng-click="vm.deletePerson(person.id)">
                  Delete
               </button>
            </div>
         </td>
      </tr>
      </tbody>
   </table>
   <hr ng-if="vm.persons.length">
</div>
<button ng-click="vm.createPerson()" type="button" class="ml-auto btn btn-success">Add</button>
<expand-text max-length="40" text="'ASD asda sdsadsadsadsadsads ds  dsasad s dsadsadasdsad ddsd sadsad'"></expand-text>

<modal modal-open="vm.modalOpen" loading="vm.loading" :submitDisabled="myForm.$invalid && vm.errorsVisible">
   <div ng-transclude-slot="modal-body">
      <persons-form modal-open="vm.modalOpen" person="vm.person"></persons-form>
   </div>
</modal>
