<form tabindex="0" name="myForm" novalidate>
   <div class="form-group"
        ng-class="{ 'has-error' : myForm.firstName.$invalid && !myForm.firstName.$pristine }">
      <label>First name</label>
      <input type="text" autocomplete="off" ng-model="vm.person.firstName" class="form-control" name="firstName" required
             maxlength="30"
             placeholder="First name">
      <p ng-show="myForm.firstName.$invalid && !myForm.firstName.$pristine" class="help-block">First name is
         required.</p>
   </div>
   <div class="form-group"
        ng-class="{ 'has-error' : myForm.lastName.$invalid && !myForm.lastName.$pristine }" maxlength="30">
      <label>Last name</label>
      <input ng-model="vm.person.lastName"
             autocomplete="off"
             name="lastName" type="text" class="form-control"
             placeholder="Last name" required maxlength="30">
      <p ng-show="myForm.lastName.$invalid && !myForm.lastName.$pristine" class="help-block">Last name is
         required.</p>

   </div>
   <div class="form-group"
        ng-class="{ 'has-error' : myForm.age.$invalid && !myForm.age.$pristine }">
      <label>Age</label>
      <input ng-model="vm.person.age" name="age" type="number" class="form-control" placeholder="Age"
             min="1" max="150" required>
      <p ng-show="myForm.age.$invalid && !myForm.age.$error.min && !myForm.age.$error.max && !myForm.age.$pristine"
         class="help-block">Age field is
         required.</p>
      <p ng-show="myForm.age.$error.min" class="help-block">Min age is 1</p>
      <p ng-show="myForm.age.$error.max" class="help-block">Max age is 150</p>

   </div>
   <div class="form-group"
        ng-class="{ 'has-error' : myForm.gender.$invalid && !myForm.gender.$pristine }">

      <!--<input ng-model="vm.person.gender" name="gender" type="text" class="form-control" placeholder="Gender" required>-->
      <label>Gender</label>
      <select name="gender" ng-model="vm.person.gender" type="text" placeholder="Gender"
              class="form-control">
         <option ng-repeat="option in vm.genders" value="{{option}}">{{option}}</option>
      </select>
      <p ng-show="myForm.gender.$invalid && !myForm.gender.$pristine" class="help-block">Gender field is
         required.</p>
   </div>
</form>