.overflow-x-auto {
    overflow-x: auto;
}

.table-perons td {
    min-width: 120px;
    max-width: 180px;
    word-break: break-word;
    vertical-align: middle;
}

.table__header {
    color: #cccccc;
    cursor: pointer;
}

.table-perons.order-desc .table__header.active i:first-child {
    color: green;
}

.table-perons.order-asc .table__header.active i:nth-child(2) {
    color: green;
}

.table__header.active {
    color: black
}

.table__actions {
    min-width: 180px;
    max-width: 250px;
}

.form-group {
    position: relative;

}

.help-block {
    position: absolute;
    top: 100%;
    font-size: 90%;
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity ease-in-out .2s;
    overflow: auto;
}

.modal-content {
    margin-top: 15vh;
}

.show {
    display: block !important;
    opacity: 1;
}

.has-error .help-block {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}